@CHARSET "ISO-8859-1";

/*for HTML5 support*/
header, section, footer, aside, nav, main, article, figure {
	display: block;
}

button {
	cursor: pointer;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

body, html {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 0;
}

nav {
	vertical-align: middle;
}

header {
	vertical-align: middle;
	color: #d42836;
}

section {
	font-size: 14px;
}

section.left {
	float: left;
	width: 46.5%;
	margin: auto;
	margin-left: 2%;
	padding: 1%;
}

aside {
	float: right;
	width: 47%;
	margin: auto;
	margin-right: 2%;
	border: solid black 1px;
}

footer {
	padding-top: 30px;
	font-size: 10pt;
}

img {
	border: solid black 1px;
}

hr {
	border: solid #d42836 1px;
	height: 1px;
	width: 100%;
}

h2 {
	vertical-align: middle;
}