@CHARSET "ISO-8859-1";

.leftArrowButton {
	position: relative;
	background-color: #d42836;
	color: white;
}

.leftArrowButton:after {
	content: '';
	display: block;
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -9px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #d42836;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}

.downArrowButton {
	position: relative;
	background: #d42836;
	width: 140px;
	text-align: center;
	color: white;
}

.downArrowButton:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 15px solid #d42836;
	border-right: 70px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 70px solid transparent;
	margin-bottom: 5px;
}

.twoElementSection {
	overflow: hidden;
}

#map {
	margin: auto;
	height: 100%;
	width: 100%;
}

#map:after {
	height: 100%;
	width: 50%;
}

.detailsList {
	list-style-type: none;
	text-align: left;
	padding-left: 30%;
}

.keyText {
	color: #d42836;
	font-weight: bold;
}

.detailsFlag {
	float: right;
}