<!DOCTYPE html>
<html>

<script type="text/javascript"
	src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../bower_components/angularjs-socialshare/dist/angular-socialshare.min.js"></script>
<script type="text/javascript" src="../bower_components/d3/d3.min.js"></script>
<script src="../bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script
	src="http://maps.google.com/maps/api/js?key=AIzaSyD-lGcTPWzqMmRNHdpJ7XxlB5FyYmoDnw8"></script>


<head>
<meta charset="ISO-8859-1">


<link rel="stylesheet" type="text/css"
	href="CountriesOfTheWorldStyle.css">
<link rel="stylesheet" type="text/css" href="socialMedia.css">
<link rel="stylesheet" type="text/css" href="sortingArrows.css">
<link rel="stylesheet" type="text/css" href="listView.css">
<link rel="stylesheet" type="text/css" href="detailView.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Countries of the world</title>
</head>

<body data-ng-app="countriesOfTheWorldApp"
	data-ng-controller="countriesOfTheWorldCtrl">

	<header>
		<hr>
		<h1>Countries of the world</h1>
		<hr>
	</header>

	<nav data-ng-show="!showListView">
		<button class="leftArrowButton" data-ng-click="hideDetailsView()">back
			to overview</button>
		<h2>{{currentName}}</h2>
	</nav>

	<section data-ng-show="showListView">
		<p>
			Search for Name: <input type="search" data-ng-model="searchString">
			<button type="reset" data-ng-click="reset()">x</button>
		</p>


		<table>
			<thead>
				<tr>
					<th class="firstCol"></th>
					<!--  th data-ng-click="orderByContent('area')"></th-->
					<th class="headerSort secondCol" data-ng-click="orderByContent('name')">
						Name <span class="arrow-up"></span> <span class="arrow-down"></span>

					</th>
					<th class="headerSort thirdCol" data-ng-click="orderByContent('population')">
						Population <span class="arrow-up"></span> <span class="arrow-down"></span>

					</th>
				</tr>
			</thead>
			<tbody>
				<tr
					data-ng-repeat="country in data | orderBy:contentToOrder:sortDown | filter:{'name':searchString}"
					data-ng-click="showDetailsView(country)">
					<td class="firstCol"><img id="{{country.id}}">{{printFlag(country.id,
						country.flag, 40)}}</td>
					<td class="secondCol">{{ country.name }}</td>
					<td class="thirdCol">{{ country.population}}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section style="overflow: hidden;" data-ng-show="!showListView">
		<section class="left">
			<img id="{{countrySelected.id+'Details'}}" style="float: right;">{{printFlag(countrySelected.id+'Details',countrySelected.flag,
			100)}}

			<ul class="detailsList">
				<li data-ng-repeat="(key, data) in getDataToShow()"><span
					class="key">{{key}} :</span> {{data}}</li>
			</ul>

			<a data-socialshare="" data-socialshare-provider="twitter"
				data-socialshare-text="Look at this Country:"
				data-socialshare-url="{{currentUrl}}"> <i class="fa fa-twitter"></i>
			</a> <a data-socialshare="" data-socialshare-provider="facebook"
				data-socialshare-url="http://www.tresmo.de"> <!-- doesn't work with lokal path -->
				<i class="fa fa-facebook"></i>
			</a> <a data-socialshare="" data-socialshare-provider="google"
				data-socialshare-url="{{currentUrl}}"> <i
				class="fa fa-google-plus"></i>
			</a>
		</section>

		<aside data-ng-show="!showListView">
			<div id="mapDiv">
				<ng-map id="map" center="{{currentCenter}}" zoom="{{currentZoom}}"></ng-map>
			</div>
		</aside>

	</section>

	<section data-ng-show="!showListView">
		<p>
			Noticed any mistakes?<br>
			<button class="downArrowButton" data-ng-click="showFormular()">Please
				contact us</button>
		</p>
		<div data-ng-show="!showForm">
			<form>
				Name: <input type="text" required> <br> E-Mail: <input
					type="email" required> <br>
				<textarea rows="10" cols="50" required>Enter your message here.</textarea>
				<br>
				<button type="submit">send</button>
			</form>
		</div>
	</section>


	<footer>
		<hr></hr>
		<p>Posted by: Jessica Ertel</p>
		<p>
			Content from: <a href="https://restcountries.eu">
				restcountries.eu</a>.
		</p>
		<hr></hr>
	</footer>
	<script type="text/javascript" src="countriesOfTheWorldLogic.js"></script>
</body>
</html>