@CHARSET "ISO-8859-1";

/**center table*/
table {
	table-layout: fixed;
	max-width: 100%;
	margin: auto;
}

/*scrollable*/
tbody {
	display: block;
	overflow-y: scroll;
	height: 300px;
}

thead {
	display: table-row-group;
	border: none;
}

thead tr {
	display: block;
	position: relative;
}

tbody tr:hover {
	cursor: pointer;
}

/*color and font*/
table {
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

/*color and font*/
th, td {
	border: 1px solid #0C3C64;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

.firstCol{
	min-width: 103px
}

.secondCol{
	min-width: 375px
}

.thirdCol{
	min-width: 105px
}

th {
	color: white;
	background-color: #d42836;
	height: 20px;
}

table tr:nth-child(odd) {
	background-color: #ffffff;
}

table tr:nth-child(even) {
	background-color: #e2e2e4;
}