@CHARSET "ISO-8859-1";

table {
	table-layout: fixed;
	max-width: 100%;
	margin: auto;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

thead {
	display: table-row-group;
	border: none;
}

tbody {
	display: block;
	overflow-y: scroll;
	height: 300px;
	border-bottom: 1px solid #0C3C64;
}

table tr:nth-child(odd) {
	background-color: #ffffff;
}

table tr:nth-child(even) {
	background-color: #e2e2e4;
}

thead tr {
	display: block;
	position: relative;
}

tbody tr:hover {
	cursor: pointer;
	border-top: 2px solid #0C3C64;
	border-bottom:2px solid #0C3C64;
	box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.5) inset;
	font-weight: bolder;
}

.highlighted{
	background-color: yellow;
}

/*tbody tr:hover td {
	-moz-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
}*/

/*tbody tr:hover td:first-child {
    -moz-box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 4px 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
}
tbody tr:hover td:last-child {
    -moz-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.5) inset;
}*/

th {
	color: white;
	background-color: #d42836;
	height: 20px;
}

th, td {
	border: 1px solid #0C3C64;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

/* workaround for scrollable table*/
.firstCol {
	min-width: 103px
}

.secondCol {
	min-width: 375px
}

.thirdCol {
	min-width: 105px
}