@CHARSET "ISO-8859-1";

/**center table*/
table {
	table-layout: fixed;
	margin: auto;
	width: 100%;
}

.wrapper {
  width: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}

thead tr th{
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

thead tr th div{
  position: absolute;
  padding: 10px;
  margin-left: -10px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
}


thead tr th div {
  top: 0;
}

thead tr th:first-child div {
  border-left: none;
}

.container {
  overflow-y: scroll;
  height: 200px;
  border-top: 41px solid transparent;
  border-bottom: 41px solid transparent;
}

/*color and font*/
table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

th {
	color: white;
	background-color: #d42836;
	height: 20px;
}

thead{
	heght: 20px;
}

table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}